@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



/*-----------hero-image-------*/

#tyler-pic{
    background: url(../images/tyler-concert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 460px;
    margin-top: 50px;
    margin: 40px;   
    
}

/*-----------navigation and title-------*/


.title{
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: 40px;
    font-family: 'Lato', sans-serif;
    color: rgb(44, 44, 46);
    font-size: 30px;
   
}


/*-----------main body-------*/

.album-covers{
    height: 300px;
    width: 300px;
   
}
/*-----------footer-------*/

h5{
    
    padding-top: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    
}

footer{
    background-color: rgb(66, 66, 66);
    
}
#side-margin-foot{
    margin: 30px;
}
#text-color-foot {
    color: #ffffff;
}

.inline-block{
    display: inline-block;
}

.footer-icons{
 color: #ffffff;
}
/*----etsy symbol isn't on font awesome so i used the below font family which looks very much like the same font for the logo*/
#e-icon{
    color: #ffffff;
    letter-spacing: 1px;
    font-family: 'Times New Roman', serif;
}
.white-line:hover{
    border-bottom: 1px solid;
    color: #ffffff;
}

.footer-center{
    padding-left: 95px;
}